html {
    direction: rtl;
}

body {
    direction: rtl;
    text-align: right;
}

.wrapper { /* this class give content part the whole 12 column of the bootstrap grid without the sidebar part*/
    display: flex; 
    width: 100%;
}

/* -------------------------------------- sidebar styling -------------------------------------- */
.sidebar{
    min-height: 100vh; /* this make the sidebar extend vertically to the end of the page*/
    width: 25%;
    height: 100%;
    background-color: rgb(238, 238, 238);
    position: relative; /* set inner div width to be equal to the width of the outer div*/ 
}

.sidebar ul {
    list-style: none; /* to remove list-style property from the list of items*/
    padding-right: 0; /* remove indentation (space) from right*/
}

#active{
    border-right-style: solid;
    color: black;
}

.sidebarLogo{ /* to center the logo*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sidebarLogo a img { /* to resize the logo*/
    width: 150px;
    height: 100%;
}

.sidebar ul li {
    line-height: 30px;
}
.sidebar ul li a {
    color: rgb(148, 148, 148);
    align-items: center;
    display: flex;
}

.sidebar ul li a:hover{
    background-color: rgb(228, 228, 228);
}

.sidebar ul li a i{
    padding-left: 15px;
    padding-right: 20px;
}


.sidebar .sidebarEnd {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    line-height: 30px;
}

.sidebar .sidebarEnd ul {
    list-style: none; /* to remove list-style property from the list of items*/
    padding-right: 0; /* remove indentation (space) from right*/
}

.sidebar .sidebarEnd ul li {
    line-height: 30px;
}
.sidebar .sidebarEnd ul li a {
    color: rgb(148, 148, 148);
    align-items: center;
    display: flex;
}

.sidebar .sidebarEnd ul li a:hover{
    background-color: rgb(228, 228, 228);
}

.sidebar .sidebarEnd ul li a i{
    padding-left: 15px;
    padding-right: 20px;
}

.sidebar .sidebarEnd p {
    color:rgb(148, 148, 148);
    text-align: center;
    font-size: 12px;
    vertical-align:middle;
}

/* sidebar for mobiles (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sidebar{
        width:10%;
    }

    .links_name{
        display: none;
    }

    .sidebarLogo a img { /* to resize the logo*/
        width: 55px;
        height: 55px;
    }

    .sidebar ul li a i{
        padding-left: 10px;
        padding-right: 0px;
    }

    .sidebar .sidebarEnd ul li a i{
        padding-left: 10px;
        padding-right: 0px;
    }

    .sidebar .sidebarEnd p {
        font-size: 7px;
    }
  }
/* -------------------------------------- HOME PAGE -------------------------------------- */