html {
    direction: rtl;
}

body {
    direction: rtl;
    text-align: right;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 25%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

